In [1]:
from ollama import chat
from ollama import ChatResponse

In [13]:
model = 'BahaSlama/llama3.1-finetuned:latest' # or huihui_ai/deepseek-r1-abliterated:8b
DB = "SQL"
prompt_engineering = "You're a Datanase Expert, You will only repond with the actual queries and nothing more. no thinking, no explaining, just the query. Unless asked specifically. Optimize and reduce runtime as much as possible"
input = f"{prompt_engineering}. Create a {DB} query to make a table called 'employees'"

response = chat(
    model=model,
    messages=[
        {
            "role": "user",
            "content": input
        }
    ],
)

print("Response:", response.message)

Response: role='assistant' content='CREATE TABLE employees (id INT PRIMARY KEY, name VARCHAR(255), age INT)' thinking=None images=None tool_calls=None

In [8]:
string = "{'database': 'testdb', 'db_type': 'postgresql', 'host': 'localhost', 'name': 'postgrestest', 'password': 'admin', 'port': '5432', 'username': 'postgres'}"

In [9]:
import ast

In [10]:
string = ast.literal_eval(string)
string

{'database': 'testdb',
 'db_type': 'postgresql',
 'host': 'localhost',
 'name': 'postgrestest',
 'password': 'admin',
 'port': '5432',
 'username': 'postgres'}

In [11]:
type(string)

dict

In [5]:
import datetime

In [6]:
datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

'2025-07-31 22:42:11'

In [ ]:
def visualize_data():
    # Get the last query results from session
    query_results = {'query': 'SELECT * FROM employee;', 'data': [['id', 'department', 'salary', 'name'], (2, 'ML', 150000, 'Shruti'), (3, 'HR', 80000, 'John'), (4, 'Finance', 90000, 'Emily'), (5, 'IT', 120000, 'Ravi'), (6, 'Marketing', 75000, 'Samantha'), (7, 'Operations', 85000, 'Michael'), (8, 'Research', 140000, 'Amanda'), (9, 'Sales', 100000, 'David'), (10, 'Legal', 65000, 'Olivia'), (11, 'Product', 110000, 'Kevin'), (12, 'HR', 50000, 'Alice'), (13, 'Engineering', 75000, 'Bob'), (14, 'Marketing', 60000, 'Charlie'), (15, 'Sales', 80000, 'David'), (16, 'Finance', 90000, 'Eve'), (17, 'HR', 5000, 'Alice'), (18, 'IT', 6000, 'Bob'), (19, 'Finance', 5500, 'Charlie'), (20, 'Marketing', 4500, 'David'), (21, 'Sales', 7000, 'Eve')], 'html_data': "<table class='table table-bordered table-sm table-hover table-striped'><thead class='thead-dark'><tr><th>id</th><th>department</th><th>salary</th><th>name</th></tr></thead><tbody><tr><td>2</td><td>ML</td><td>150000</td><td>Shruti</td></tr><tr><td>3</td><td>HR</td><td>80000</td><td>John</td></tr><tr><td>4</td><td>Finance</td><td>90000</td><td>Emily</td></tr><tr><td>5</td><td>IT</td><td>120000</td><td>Ravi</td></tr><tr><td>6</td><td>Marketing</td><td>75000</td><td>Samantha</td></tr><tr><td>7</td><td>Operations</td><td>85000</td><td>Michael</td></tr><tr><td>8</td><td>Research</td><td>140000</td><td>Amanda</td></tr><tr><td>9</td><td>Sales</td><td>100000</td><td>David</td></tr><tr><td>10</td><td>Legal</td><td>65000</td><td>Olivia</td></tr><tr><td>11</td><td>Product</td><td>110000</td><td>Kevin</td></tr><tr><td>12</td><td>HR</td><td>50000</td><td>Alice</td></tr><tr><td>13</td><td>Engineering</td><td>75000</td><td>Bob</td></tr><tr><td>14</td><td>Marketing</td><td>60000</td><td>Charlie</td></tr><tr><td>15</td><td>Sales</td><td>80000</td><td>David</td></tr><tr><td>16</td><td>Finance</td><td>90000</td><td>Eve</td></tr><tr><td>17</td><td>HR</td><td>5000</td><td>Alice</td></tr><tr><td>18</td><td>IT</td><td>6000</td><td>Bob</td></tr><tr><td>19</td><td>Finance</td><td>5500</td><td>Charlie</td></tr><tr><td>20</td><td>Marketing</td><td>4500</td><td>David</td></tr><tr><td>21</td><td>Sales</td><td>7000</td><td>Eve</td></tr></tbody></table>"}
    
    data = query_results.get('data', [])

    data = [list(row) if isinstance(row, tuple) else row for row in data]
    print("Data:", data)

    csv_data = ""

    for row in data:
        csv_data += ",".join(map(str, row)) + "\n"

    return 'Csv_data:', csv_data

print(visualize_data())

Data: [['id', 'department', 'salary', 'name'], [2, 'ML', 150000, 'Shruti'], [3, 'HR', 80000, 'John'], [4, 'Finance', 90000, 'Emily'], [5, 'IT', 120000, 'Ravi'], [6, 'Marketing', 75000, 'Samantha'], [7, 'Operations', 85000, 'Michael'], [8, 'Research', 140000, 'Amanda'], [9, 'Sales', 100000, 'David'], [10, 'Legal', 65000, 'Olivia'], [11, 'Product', 110000, 'Kevin'], [12, 'HR', 50000, 'Alice'], [13, 'Engineering', 75000, 'Bob'], [14, 'Marketing', 60000, 'Charlie'], [15, 'Sales', 80000, 'David'], [16, 'Finance', 90000, 'Eve'], [17, 'HR', 5000, 'Alice'], [18, 'IT', 6000, 'Bob'], [19, 'Finance', 5500, 'Charlie'], [20, 'Marketing', 4500, 'David'], [21, 'Sales', 7000, 'Eve']]
('Csv_data:', 'id,department,salary,name\n2,ML,150000,Shruti\n3,HR,80000,John\n4,Finance,90000,Emily\n5,IT,120000,Ravi\n6,Marketing,75000,Samantha\n7,Operations,85000,Michael\n8,Research,140000,Amanda\n9,Sales,100000,David\n10,Legal,65000,Olivia\n11,Product,110000,Kevin\n12,HR,50000,Alice\n13,Engineering,75000,Bob\n14,Marketing,60000,Charlie\n15,Sales,80000,David\n16,Finance,90000,Eve\n17,HR,5000,Alice\n18,IT,6000,Bob\n19,Finance,5500,Charlie\n20,Marketing,4500,David\n21,Sales,7000,Eve\n')